<div class="flex flex-col min-h-screen bg-gray-900 text-white scroll-smooth">

  <!-- Navbar - Show on guest pages -->
  <ng-container *ngIf="!isAdminPage || !isAuthenticated">
    <app-navbar class="fixed top-0 left-0 w-full z-50"></app-navbar>
  </ng-container>

  <!-- Admin Navbar - Only show on admin pages when authenticated -->
  <ng-container *ngIf="isAdminPage && isAuthenticated">
    <app-admin-navbar 
        class="fixed top-0 left-0 w-full z-50"
        (backToPublicEvent)="disableAdmin()">
    </app-admin-navbar>
  </ng-container>

  <!-- Main content starts right after navbar -->
  <main class="flex-grow ">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="w-full bg-gray-800 text-gray-400 p-4 text-center">
    <span>&copy; 2025 
      <a (click)="enableAdmin()" class="text-blue-400 hover:text-blue-500 cursor-pointer">
        Marandu3
      </a>. All rights reserved.
    </span>
  </footer>

</div>
